@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

/*變數*/
/*排版.css*/
body {
  position: relative;
  font-family: "微軟正黑體",Arial,"Helvetica Neue",Helvetica,sans-serif,"新細明體"; }

.banner {
  background: url("../images/Hero.png") center no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 380px; }

#header {
  position: relative; }

.maplink {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding-left: 30px;
  background: url("../images/mapicon.png") no-repeat 15px center;
  width: 240px;
  margin: 0 auto;
  line-height: 30px;
  height: 30px;
  background-size: contain; }

.map_tip {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 130px; }

#s-area {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 452px;
  height: 48px;
  background-image: url("../images/icons_down.png");
  background-repeat: no-repeat;
  background-position: 425px center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #ffffff;
  border-radius: 3px;
  font-family: "微軟正黑體";
  font-size: 18px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px 10px; }

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.map_wrap {
  width: 100%; }

.nav {
  position: relative;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  top: -26px;
  border-radius: 5px;
  padding: 20px 26px;
  box-shadow: 0px 1px 3px 0px rgba(51, 51, 102, 0.2); }
  .nav:before {
    display: block;
    content: '熱門行政區';
    text-align: left;
    margin-bottom: 14px;
    text-indent: 5px; }
  .nav li {
    float: left;
    width: 25%;
    height: 42px; }
    .nav li a {
      display: block;
      height: inherit;
      text-align: center;
      line-height: 42px;
      border-radius: 5px;
      background-color: #8A82CC;
      text-decoration: none;
      color: #ffffff; }
      .nav li a:hover {
        opacity: 0.9; }
    .nav li div {
      padding: 0 15px; }
    .nav li + li a {
      background-color: #FFA782; }
    .nav li + li + li a {
      background-color: #F5D105; }
    .nav li + li + li + li a {
      background-color: #559AC8; }

.line {
  border-top: 3px dotted #559AC8;
  margin: 49px 40px; }
  .line:before {
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    background: url(../images/icons_down2.png) center no-repeat;
    width: 24px;
    height: 24px; }

h3.area-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
  color: #8A82CC; }

.top-info:after, .content:after, .list:after, .nav:after {
  display: block;
  content: "";
  height: 0;
  overflow: hidden;
  clear: both; }

.list li {
  float: left;
  width: 50%; }
  .list li .space {
    margin: 10px;
    line-height: 160%;
    min-height: 290px;
    box-shadow: 0px 1px 3px 0px rgba(51, 51, 102, 0.2); }

.top {
  width: 100%;
  height: 150px;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: #ffffff;
  z-index: -1;
  transition: all 300ms ease-in-out; }
  .top:before {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.space:hover .top:before {
  background-color: rgba(0, 0, 0, 0.15); }

.top h3 {
  font-size: 28px;
  float: left;
  font-weight: 600;
  width: 85%; }

.top .top-info {
  padding: 110px 20px 0 20px; }

.top span {
  display: block;
  overflow: hidden;
  line-height: 28px; }

.toptitle {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  letter-spacing: 4px;
  font-weight: 600;
  padding: 40px 0; }

.list-content {
  padding: 18px 23px;
  position: relative; }

.tag {
  position: absolute;
  right: 23px;
  bottom: 20px; }

.Opentime {
  background: url(../images/icons_clock.png) left top no-repeat;
  padding-left: 23px; }

.add {
  background: url(../images/icons_pin.png) left top no-repeat;
  padding-left: 23px; }

.info {
  background: url(../images/icons_phone.png) left top no-repeat;
  padding-left: 23px; }

.tag {
  background: url(../images/icons_tag.png) left top no-repeat;
  padding-left: 23px; }

#gotop {
  position: absolute;
  right: 20px;
  bottom: 25px; }

/*頁尾樣式*/
.footer {
  background: #559AC8;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 24px 0;
  margin-top: 60px; }
  .footer p {
    margin-bottom: 20px;
    color: #ffffff; }
    .footer p + p {
      margin-bottom: 0;
      color: #FFD366; }

#map {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  top: -60px; }

/*RWD調整*/
/*pad*/
@media (max-width: 768px) and (min-width: 639px) {
  .top .top-info {
    padding: 95px 10px 0 10px; }
  .top h3 {
    float: none;
    width: 100%;
    font-size: 22px; } }

@media (max-width: 640px) and (min-width: 481px) {
  .list li .space {
    min-height: 311px; }
  .tag {
    position: static; }
  .top .top-info {
    padding: 95px 10px 0 10px; }
  .top h3 {
    float: none;
    width: 100%;
    font-size: 22px; }
  .nav {
    width: 100%;
    padding: 20px 0; }
    .nav li div {
      padding: 0 5px; } }

/*phone*/
@media (max-width: 480px) {
  #s-area {
    width: 90%;
    background-position: 98% center; }
  .list li {
    width: 100%; }
  .nav {
    width: 100%;
    padding: 20px 0; }
    .nav li div {
      padding: 0 5px; }
  .top .top-info {
    padding: 115px 10px 0 10px; }
  .top h3 {
    flot: none;
    width: 80%; }
  .line {
    margin: 19px 15px; } }
