<!DOCTYPE html>
html(lang="zh")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 高雄旅遊網
    link(type="text/css",rel="stylesheet",href="css/all.css")
body
   div#header
    div.banner 
     h1.toptitle 高雄旅遊網
     a.maplink(href="map.html") 用Google Map 查看景點資訊
    select(name="area")#s-area
   div.wrap
    ul.nav
     li
         .btn
             a.btn(name="苓雅區" href="#") 苓雅區
     li
         .btn
             a.btn(name="三民區" href="#") 三民區
     li
         .btn
             a.btn(name="新興區" href="#") 新興區
     li
         .btn
             a.btn(name="鹽埕區" href="#") 鹽埕區
    div.content 
     div.line
     div.area-title
     div.list
     div.pages
    div#gotop
     img(src='images/btn_goTop.png')
   div.footer
    p 高雄旅遊網
    p 資料來源：高雄市政府
script(src='js/all.js') 
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
script(src='js/gototop.js')
  
    